*{
    box-sizing: border-box;
    margin: 0 auto;

}

body{
    background-color: rgb(51, 78, 85);
}

.userCard{
    width: 100%;
    height: 600px;
    min-width: 450px;
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
    z-index: 0;
    border-radius: 10%;
    border: 0px;
    overflow: hidden;
    
}

.imgBack{
  size: 10%;
  height: 35%;
  width: 100%;
  top: 0;
  left: 0px;
  position: absolute;
  overflow: hidden;
  z-index: 1;

}

.userImageCont{
    z-index: 100;
    position:relative;
    width: 220px;
    height: 220px;
    overflow: hidden;
    border: solid 10px ;
    border-radius: 50%;
    margin-right: center;
    top: 17%;
    border-color: rgb(255, 255, 255);
}

.userImageCont img{
    position: relative;
    right: 30px;
    bottom: 18px;
}

.userFullName{
    position: relative;
    text-align: center;
    font-size: 50px;
    font-family: 'MonteCarlo', cursive;
}

.userLink{
    text-align: center;
    font-size: 20px;
}

.userInfoCont{
    position: relative;
    top: 16%;
    
}

.userInfo{
    position: relative;
    text-align: center;
    top: 25px;
    font-family: 'MonteCarlo', cursive;
    font-size: 25px;
}

.userWebLinks{
    position:absolute;
    top: 100%;
    left: 170px;
    font-size: 80px;
}